<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle%></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/list.css">
    <link rel="stylesheet" href="/navigation.css">
    <link rel="stylesheet" href="/details.css">
    
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <header class="top_header">Details</header>
    <main>
        
            <div class="grid">
                    <article class="card book-item" >
                        <header class="card__header">
                            <h1 class="booking_model">
                                <h1 style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 28px;"><%= booking.model %></h1>
                            </h1>
                        </header>
                        <div class="card__content" style="font-size: 13px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style: normal;">
                            
                                <h1><b style="color: rgb(161, 168, 162);">Name</b> <%= booking.userId.name %></h1>
                            
                            
                                <h1><b style="color:rgb(161, 168, 162);">E-mail</b> <%= booking.userId.email %></h1>
                            
                            
                                <h1><b style="color: rgb(161, 168, 162);">Phone Number</b> <%= booking.userId.phone %></h1>
                            
                            
                                <h1><b style="color:rgb(161, 168, 162);">Address</b> <%= booking.userId.address %></h1>
                           
                           
                                <h1><b style="color: rgb(161, 168, 162);">Service Type</b> <%= booking.serviceType%> </h1>
                              
                            
                                <h1><b style="color:rgb(161, 168, 162);">Problems</b> <%= booking.problems%></h1>

                                <h1><b style="color: rgb(161, 168, 162);"><%if(booking.status=='Pending') { %> Requested Date<%} else {%>Service Date<%}%></b> <%= booking.date%></h1>
                                
                                <%if (booking.status=='Approved') { %>
                                <h1><b style="color: rgb(161, 168, 162);">Service time</b> <%= booking.time%></h1>
                               <% } %>
                        </div>
                    </article>
            </div>
            
    </main>
    
</body>
</html>